<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <style>
        body {
            background-color: rgb(34, 32, 32);
            
        }
        .home{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 800px;
            flex-direction: column;
        }

        .home a{
            text-decoration: none;
            color: white;
            font-size: 1rem;
            background-color: grey;
            padding: 1rem;
            border-radius: 10px;
        }
        
    </style>
</head>
<body>
        <div class="home"
        ><h1>THIS IS CONTACT US</h1>
        <a href="./Main.ejs">BACK TO MAIN PAGE</a>
        </div>
    
</body>
</html>